@import url(../bower_components/normalize-css/normalize.css);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,700);
@-webkit-keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
@keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.blink {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1.25s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blinker;
  -moz-animation-duration: 1.25s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-name: blinker;
  animation-name: blinker;
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.homepage {
  background-color: #40c4ff;
}
.homepage__development, .homepage__design {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 50%;
  flex: 1 50%;
}
@media screen and (max-width: 50em) {
  .homepage__development, .homepage__design {
    -webkit-box-flex: 1;
    -ms-flex: 1 100%;
    flex: 1 100%;
  }
}
.homepage__development h2, .homepage__design h2 {
  font-family: HelveticaNeueLTStd-Hv;
  font-size: 42px;
  letter-spacing: 2.5px;
  margin: 0;
}
.homepage__development .view-work, .homepage__design .view-work {
  border: 2px solid #fff;
  display: inline-block;
  padding: .5em 1.5em;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.homepage__development .view-work:hover, .homepage__design .view-work:hover {
  background-color: #fff;
  color: #000;
}
@media screen and (min-width: 50em) {
  .homepage__development .view-work, .homepage__design .view-work {
    margin-top: 1em;
  }
}
.homepage__development {
  background-color: #32403b;
  z-index: 999;
}
.homepage__development p {
  font-family: Monaco;
  font-size: 26px;
}
.homepage__design {
  z-index: 999;
}
.homepage__design p {
  font-family: HelveticaNeueLTStd-Roman;
  font-size: 26px;
  letter-spacing: 1.54px;
}
.homepage__branding {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../img/logo.svg") center center no-repeat;
  background-color: #fff;
  background-size: 50%;
  border-radius: 50%;
  box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.5);
  width: 100px;
  height: 100px;
  z-index: 999;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}
@media screen and (min-width: 799px) {
  .homepage__branding {
    height: 140px;
    width: 140px;
  }
}
.homepage__branding svg {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 60px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}
@media screen and (min-width: 799px) {
  .homepage__branding svg {
    height: 85px;
  }
}
.homepage #circles {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.design {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  background-color: #f4f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100vw;
}
.design__hero {
  margin-left: -999em;
  margin-right: -999em;
  overflow: hidden;
  padding-left: 999em;
  padding-right: 999em;
  max-width: 1400px;
  width: 100vw;
  background-color: #40c4ff;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 350px;
}
.design__hero--logo {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 100px;
  z-index: 999;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}
.design__hero--logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: .75;
  -ms-flex-positive: .75;
  flex-grow: .75;
  height: 100%;
}
@media screen and (min-width: 799px) {
  .design__hero--logo {
    height: 140px;
    width: 140px;
  }
}
.design__hero--logo svg {
  height: 60px;
  margin: auto;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}
@media screen and (min-width: 799px) {
  .design__hero--logo svg {
    height: 85px;
  }
}
.design__hero .main-nav {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.design__hero .main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .design__hero .main-nav ul {
    max-width: 480px;
  }
}
.design__hero .main-nav ul li {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  font-weight: 100;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.design__hero .main-nav ul li.active {
  border-bottom: 1px solid #fff;
}
.design__hero h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  -webkit-box-flex: .5;
  -ms-flex-positive: .5;
  flex-grow: .5;
  padding-top: 1.5em;
}
.design__hero h3 {
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}
.design__intro {
  margin: 0 auto;
  max-width: 550px;
  padding: 2em 4em;
  width: 100%;
}
.design__intro p {
  font-family: "Merriweather", Georgia, serif;
  font-weight: 400;
  line-height: 34px;
}
.design__latest-work, .design__case-studies {
  background: #fff;
  box-shadow: 0px 3px 4px 0px rgba(161, 161, 161, 0.5);
  text-align: center;
  margin: 0 auto 3em;
  max-width: 1400px;
  padding: 3em 0;
  width: 100%;
}
.design__latest-work ul, .design__case-studies ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  padding: 0 2em;
}
@media screen and (max-width: 50em) {
  .design__latest-work ul, .design__case-studies ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.design__latest-work ul li, .design__case-studies ul li {
  padding: 0 .5em;
}
@media screen and (max-width: 50em) {
  .design__latest-work ul li, .design__case-studies ul li {
    margin-bottom: 1em;
  }
}
.design__latest-work ul li img, .design__case-studies ul li img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 255px;
  width: 100%;
}
@media screen and (max-width: 50em) {
  .design__latest-work ul li img, .design__case-studies ul li img {
    margin-bottom: 2em;
  }
}
.design__latest-work h1, .design__case-studies h1 {
  margin-bottom: 1em;
}
.design__case-studies {
  margin: 3em auto 8em;
}
.design__case-studies ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 255px;
  -ms-flex: 255px 0 0;
  flex: 255px 0 0;
}
@media screen and (max-width: 1070px) {
  .design__case-studies ul li {
    -webkit-box-flex: initial;
    -ms-flex: initial;
    flex: initial;
  }
}
.design__case-studies ul li:nth-of-type(2) span, .design__case-studies ul li:nth-of-type(3) span, .design__case-studies ul li:nth-of-type(4) span {
  height: 104px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.design__case-studies ul li:nth-of-type(2) span {
  background-color: #40c4ff;
}
.design__case-studies ul li:nth-of-type(3) span {
  background-color: #ffab40;
}
.design__case-studies ul li:nth-of-type(4) span {
  background-color: #ff5252;
}
.design__case-studies ul li img {
  margin-bottom: 0;
}
.design__case-studies--title {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #69f0ae;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1em 0 .25em 1em;
}
.design__case-studies--title h2,
.design__case-studies--title p {
  color: #fff;
  font-weight: 100;
  margin: 0 0 .75em;
  text-align: left;
}



/*# sourceMappingURL=style.css.map */
