## SITE REFERRER BANNING
RewriteCond %{HTTP_REFERER} trafficmonetize.org [NC,OR]
RewriteCond %{HTTP_REFERER} webmonetizer.net [NC,OR]
RewriteCond %{HTTP_REFERER} 4webmasters.org [NC,OR]
RewriteCond %{HTTP_REFERER} site1.floating-share-buttons.com [NC,OR]
RewriteCond %{HTTP_REFERER} site2.floating-share-buttons.com [NC,OR]
RewriteCond %{HTTP_REFERER} site3.floating-share-buttons.com [NC,OR]
RewriteCond %{HTTP_REFERER} site4.floating-share-buttons.com [NC,OR]
RewriteCond %{HTTP_REFERER} site5.floating-share-buttons.com [NC,OR]
RewriteCond %{HTTP_REFERER} floating-share-buttons.com [NC,OR]
RewriteCond %{HTTP_REFERER} www.event-tracking.com [NC,OR]
RewriteCond %{HTTP_REFERER} erot.co [NC,OR]
RewriteCond %{HTTP_REFERER} 100dollars-seo.com [NC,OR]
RewriteCond %{HTTP_REFERER} howtostopreferralspam.eu [NC,OR]
RewriteCond %{HTTP_REFERER} www1.free-social-buttons.com [NC,OR]
RewriteCond %{HTTP_REFERER} www2.free-social-buttons.com [NC,OR]
RewriteCond %{HTTP_REFERER} www3.free-social-buttons.com [NC,OR]
RewriteCond %{HTTP_REFERER} www4.free-social-buttons.com [NC,OR]
RewriteCond %{HTTP_REFERER} www5.free-social-buttons.com [NC,OR]
RewriteCond %{HTTP_REFERER} www6.free-social-buttons.com [NC,OR]
RewriteCond %{HTTP_REFERER} www7.free-social-buttons.com [NC,OR]
RewriteCond %{HTTP_REFERER} www8.free-social-buttons.com [NC,OR]
RewriteCond %{HTTP_REFERER} www9.free-social-buttons.com [NC,OR]
RewriteCond %{HTTP_REFERER} free-social-buttons.com [NC,OR]
RewriteCond %{HTTP_REFERER} success-seo.com [NC,OR]
RewriteCond %{HTTP_REFERER} videos-for-your-business.com [NC,OR]
RewriteRule .* - [F]
