//////////////////////////////////////////
// Project color variables
//////////////////////////////////////////

// Base colors
$white:				     #fff;
$black:				     #000;
$gray:             #ccc;

// Main colors
$terminal-green:	 #32403b;
$design-blue:		   #40c4ff;
$super-light:		   #f4f6f6;

// Accent Colors
$bright-green:		 #69f0ae;
$brilliant-blue:	 #40c4ff;
$mustard-yellow:	 #ffab40;
$light-red:			   #ff5252;
