//////////////////////////////////////////
// Typography settings and fonts
//////////////////////////////////////////

// Font Import(s)
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,700);

// Font variables with fallback
$Merriweather: 'Merriweather', Georgia, serif;

// Weights
$light:		100;
$normal:	400;
$bold:		800;

// Font Stacks
@mixin merriweather-copy() {
	font-family: $Merriweather;
	font-weight: $normal;
	line-height: 34px;
}

@mixin merriweather-title {
	font-family: $Merriweather;
	font-weight: $bold;
}
